*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #080F17;
  margin: 0 3em;
}
header {
    height: 5em;
    width: 100%;
    background-color: #080F17;
    display:flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    /* border-bottom: 1px solid white;   */

}
label.logo{
    font-size: 2.7em;
    font-weight: bold;
    color: #D6DDE6;
    line-height: 5rem;
    /* padding: 0 6.25em 0 0; */
}
form{
    display: none;
}

.dropdown{
    background-color: #080F17;
    color: white;
    border: none;
    font-size: 1.3em;
}
nav{
    flex-direction: row;
   
}
nav ul{
    /* float: right; */
    line-height: 5em;
}

nav ul li{
    display: inline-block;
    line-height: 5em;
    margin:0 0.3em;
}

/* nav ul li:last-child{
    padding-right: 48px;

} */
    

nav ul li a{
    color: #D6DDE6;
    font-size: 1.75em;
    margin: 0 0.3em;
    
}

main{
    width: 100%;
    height: 72em;
}

.heading{
    
    display: flex;
    text-align: center;
    height: 15em;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    width: 100%;
}

h1{
    font-size: 3.2em;
    color: #D6DDE6;
    font-weight: bold;

}
.hero_image img{
    width: 100%;
}

.hero_image{
    padding-bottom: 4rem;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    
}

.item h2{
    color: #D6DDE6;
    font-size: 1.25em;
}
.item p{
    color: #D6DDE662;
}
 .item img{
    width: 100%;
 }



about h3{
    color: #D6DDE6;
    font-size: 2em;
    text-align: center;
    /* width: 900px; */
    padding: 4em 2em;
    font-weight: 600;
}

footer-menu{
    color: #D6DDE6;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.menu-sub{
    display: flex;
    justify-content: space-around;
    gap: 3em;

}

.menu-sub p{
    font-size: 1.4em;
}

.heading{
    height: auto;
    font-size: 2.5em;
    font-weight: bold;
    width:max-content
}

contact{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 10em 0;
}

contact h2{
    font-size: 2.5em;
    color: #D6DDE6;
    font-weight: bold;
}

contact p{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3em;
    color: #D6DDE6;
}
.part4{
    height: 50%;
    width: 100%;

    

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;


   
    border-top: 1px solid #D6DDE6;
}

.part4-contact{
    height: 65%;
    width: 100%;
    max-width: 600px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
    
}

.contact-me{
    
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #d6dde6;
   
}

.part4-contact p{
    width: 100%;
    font-size: 1.5rem;
    font-weight: normal;
    color: #d6dde6;
    text-align: center;
}

.pin{
    width: 65%;
    height: 35%;

    max-height: 60px;
    display: flex;
    justify-content: space-around; 
}

.pinbox
{
    height: 100%;
    width: 15%;
    transition-duration: 0.5s;
    
}

.pinbox>input{
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    text-align: center;

    background-color: #111920;
    border: 2px solid #3f454b;
    color: #5c656c;
    font-size: 1rem;
    
}

.pinbox:hover{
    transform: scale(1.1);
}



.submit{
    width: 100%;
    font-size: 100px;
    height: 15%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.submit>input{
    height: 100%;
    width: 70%;
    border-radius: 0.8rem;
    color: #091616;
    background-color: #a7ee43;
    border: none;
    cursor:pointer;
    transition-duration: 0.5s;
    font-size: 1.2em;
}

.submit>input:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.submit>input:active{
    transition: 0.5s;
    transform: scale(1.025);
}

.skip{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    
}

.skip>input{
    color: #a7ee43;
    background-color: #070f17;
    border: none;
    transition: 0.5s;
    cursor:pointer;
    font-size: 1.0em;
}

.skip>input:hover{
    transform: scale(1.2);
    transition-duration: 0.75s;
}

.skip>input:active{
    transform: scale(1.05);
    transition-duration: 0.5s;
}

footer{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer>.water-mark{
    color: #717981;
    font-size: 1.75rem;
    margin-left: 2rem;
    
}

footer>.follow>input{
    background-color: #070f17;
    color: #d6dde6;
    padding: 0.5rem;
    border-radius: 0.5rem;

    border: 2px solid #242b33;
    transition-duration: 0.5s;

    cursor: pointer;
    margin-right: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;

}

.follow>input:hover{
    transform: scale(1.1);
}

.follow>input:active{
    transform: scale(1.005);
}

@media(max-width: 800px) {
    nav ul li a{
        font-size: 1.2em;
    }

    h1{
        font-size: 1.8em;
    }

}

@media(max-width: 750px){
    contact{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        margin: 7em 0;
    }

    contact p{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.3em;
        color: #D6DDE6;
        text-align: center;
    }

}   
@media(max-width: 650px){
    footer-menu{
        color: #D6DDE6;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:baseline;
    }

    .menu-sub p{
        font-size: 1em;
    }
    form{
        display: inline;
    }
    nav{
        display: none;
    }
    label.logo{
        font-size: 2em;
    }
    h1{
        font-size: 1em;
    }

    footer>.water-mark{
        color: #717981;
        font-size: 1.25rem;
       margin:0;
        
    }

    footer>.follow>input{
        cursor: pointer;
        margin-right: 0;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
    
    }

    about h3{
        color: #D6DDE6;
        font-size: 1.5em;
        text-align: center;
        /* width: 900px; */
        padding: 4em 0;
        font-weight: 600;
    }
    
}




