*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #080F17;
  margin: 0 48px;
}
header {
    height: 80px;
    width: 100%;
    background-color: #080F17;
    display:flex;
    justify-content: space-between;
    margin: 0px;
    /* border-bottom: 1px solid white;   */

}
label.logo{
    font-size: 42px;
    font-weight: bold;
    color: #D6DDE6;
    line-height: 80px;
    padding: 0 100px 0 0;
}
nav{
    flex-direction: row;
   
}
nav ul{
    /* float: right; */
    line-height: 80px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}

/* nav ul li:last-child{
    padding-right: 48px;

} */
    

nav ul li a{
    color: #D6DDE6;
    font-size: 28px;
    margin: 0 5px;
    
}

main{
    width: 100%;
    height: 1152px;
}

.heading{
    
    display: flex;
    text-align: center;
    height: 240px;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
}

h1{
    font-size: 120px;
    color: #D6DDE6;
    font-weight: bold;

}
.hero_image img{
    width: 100%;
}

section{
    display: flex;
    gap: 48px;
}

.item h2{
    color: #D6DDE6;
    font-size: 20px;
}
.item p{
    color: #D6DDE662;
}

.container_1, .container_2, .container_3{
    padding: 48px 0;
}

about h3{
    color: #D6DDE6;
    font-size: 48px;
    text-align: center;
    /* width: 900px; */
    padding: 96px 222px;
    font-weight: 600;
}

footer-menu{
    color: #D6DDE6;
    display: flex;
    justify-content: space-between;
}

/* menu-sub{
    display: flex;
    justify-content: ; */
}

contact{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 10em 0;
}

contact h2{
    font-size: 2.5em;
    color: #D6DDE6;
    font-weight: bold;
}

contact p{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3em;
    color: #D6DDE6;
}
.part4{
    height: 50%;
    width: 100%;

    

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;


   
    border-top: 1px solid #D6DDE6;
}

.part4-contact{
    height: 65%;
    width: 100%;
    max-width: 600px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
    
}

.contact-me{
    
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #d6dde6;
   
}

.part4-contact p{
    width: 100%;
    font-size: 1.5rem;
    font-weight: normal;
    color: #d6dde6;
    text-align: center;
}

.pin{
    width: 65%;
    height: 35%;

    max-height: 60px;
    display: flex;
    justify-content: space-around; 
}

.pinbox
{
    height: 100%;
    width: 15%;
    transition-duration: 0.5s;
    
}

.pinbox>input{
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    text-align: center;

    background-color: #111920;
    border: 2px solid #3f454b;
    color: #5c656c;
    font-size: 1rem;
    
}

.pinbox:hover{
    transform: scale(1.1);
}



.submit{
    width: 100%;
    font-size: 100px;
    height: 15%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.submit>input{
    height: 100%;
    width: 70%;
    border-radius: 0.8rem;
    color: #091616;
    background-color: #a7ee43;
    border: none;
    cursor:pointer;
    transition-duration: 0.5s;
    font-size: 1.2em;
}

.submit>input:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.submit>input:active{
    transition: 0.5s;
    transform: scale(1.025);
}

.skip{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    
}

.skip>input{
    color: #a7ee43;
    background-color: #070f17;
    border: none;
    transition: 0.5s;
    cursor:pointer;
    font-size: 1.0em;
}

.skip>input:hover{
    transform: scale(1.2);
    transition-duration: 0.75s;
}

.skip>input:active{
    transform: scale(1.05);
    transition-duration: 0.5s;
}

footer{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer>.water-mark{
    color: #717981;
    font-size: 1.75rem;
    margin-left: 2rem;
    
}

footer>.follow>input{
    background-color: #070f17;
    color: #d6dde6;
    padding: 0.5rem;
    border-radius: 0.5rem;

    border: 2px solid #242b33;
    transition-duration: 0.5s;

    cursor: pointer;
    margin-right: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;

}

.follow>input:hover{
    transform: scale(1.1);
}

.follow>input:active{
    transform: scale(1.005);
}

